html,body,p{
  margin: 0;
  padding: 0;
}

body{
  text-align: center;
}

#photo{
  margin: 0;
  padding: 0;
  display: none;
}

#button{
  color: wheat;
  background-color: black;
}


#button2{
  color: wheat;
  background-color: black;
}