html,body,div,nav,ul,li{
  margin: 0;
  padding: 0;
}

#header{
  background-color: white;
  padding: 10px;
}

nav{
  position: absolute;
  height: 1000px;
  width: 40%;
  /* left: -40px; */
  top: 0;
  background-color: #fff;
  transition: .7s;
}

nav ul{
  display: none;
  background-color: #000;
  list-style-type: none;
}

nav ul a{
  color: #fff;
  text-decoration: none;
}

.nav-menu a{
  border-bottom: #fff solid 1px;
}

.toggle_btn {
  position: absolute;
  top: 32px;
  right:32px;
  cursor: pointer;
  width: 32px;
  height: 24px;
  z-index: 10;
}
.toggle_btn span {
  /*3本の線を作る*/
  transition: all .3s;
  position: absolute;
  height: 2px;
  background-color: #333;
  width:100%;
  z-index: 10;
}
.toggle_btn span:nth-of-type(1) {
  /*上の線の位置*/
  top: 4px;
}
.toggle_btn span:nth-of-type(2) {
  /*真ん中の線の位置*/
  top: 12px;
}
.toggle_btn span:nth-of-type(3) {
  /*下の線の位置*/
  top: 20px;
}
.toggle_btn.open span:nth-of-type(1) {
  /*openのとき、上の線を右斜めにする*/
  top: 10px;
  transform: translateY(6px) rotate(-33deg);
}
.toggle_btn.open span:nth-of-type(2) {
  /*真ん中の線を消す*/
  opacity: 0;
}
.toggle_btn.open span:nth-of-type(3) {
  /*下の線を左斜めにする*/
  top: 22px;
  transform: translateY(-6px) rotate(33deg);
}

video{
  width: 100%;
}

.slick-area li {
  width: 100px;
  padding: 20px;
}

.slick-area li img{
  width: 100%;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1%;
  margin:0  50px 200px 50px ;
}

.item{
  box-shadow: inset;
  border-radius: 3px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.item img{
  width: 100%;
}

.item-content{
  padding: 10px;
}

.item-cat,.item-text{
  padding: 10px;
}

.item-date{
  padding: 10px;
  text-align: right;
}

#contact{
  background-color: #000;
  color: #fff;
  padding-bottom: 60px;
}

.content{
  display: flex;
}

.contact-info{
  padding: 0 40px;
  width: calc(100%/2);
}

.contact-form{
  padding: 0 40px;
  width: calc(100%/2);
}

input,textarea{
  background-color: #fff;
  width: 100%;
}

.button input{
  border: 2px white solid;
  background-color: #000;
  color: #fff;
  border: #fff solid;
  width: auto;
  padding: 0 10px 0;
}

.sec-title{
  padding: 50px;
  text-align: center;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
  .grid{
    display: block;
    margin: 20px;
  }

  .item{
    width: auto;
    margin: 10px;
  }

  .content{
    display: block;
  }

  .contact-info{
    width: 100%;
  }
  
  .contact-form{
    width: 100%;
  }
}