html,body,div,dl,dt,dd{
  margin: 0;
  padding: 0;
}

body{
  text-align: center;
}

#accordion{
  margin: 24px;
}

#accordion dt{
  line-height: 0;
}
#accordion dt img{
  cursor: pointer;
}
#accordion dd{
  display: none;
  line-height: 0;
}
