* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ac {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.ac-parent {
  height: 50px;
  border-bottom: 1px solid #fff;
  background-color: #f97148;
  color: #fff;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.ac-child {
  display: none;
  padding: 2em 1em;
  background-color: #ffccbc;
  text-align: center;
}
